## Homework 1

In [1]:
import numpy as np
import pandas as pd

### Question 1

In [2]:
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

### Question 2

In [4]:
print(f"There are {df.shape[0]} records in the data")

There are 9704 records in the data

### Question 3

In [5]:
print(f"There are {df.fuel_type.nunique()} fuel types in the data")

There are 2 fuel types in the data

### Question 4

In [6]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Question 5

In [7]:
max_fuel_eff_Asia = df[df.origin == "Asia"]["fuel_efficiency_mpg"].max()
print(f"The maximum fuel efficiency for cars in Asia is {round(max_fuel_eff_Asia, 2)}")

The maximum fuel efficiency for cars in Asia is 23.76

### Question 6

In [8]:
median_before = df.horsepower.median()
median_before

149.0

In [9]:
mode_horsepower = df.horsepower.mode()[0]

In [10]:
df["horsepower"] = df["horsepower"].fillna(mode_horsepower)

In [11]:
median_after = df.horsepower.median()
median_after

152.0

#### Yes, it increased

### Question 7

In [12]:
df_Asia = df[df.origin == "Asia"][["vehicle_weight", "model_year"]]

In [15]:
X = df_Asia.head(7)

In [16]:
XTX = X.T @ X

In [17]:
XTX

                vehicle_weight    model_year
vehicle_weight    6.224833e+07  4.143122e+07
model_year        4.143122e+07  2.837334e+07

In [18]:
XTX_inv = np.linalg.inv(XTX)

In [19]:
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [20]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [27]:
print(f" The sum of the values from multiplication is {round(sum(XTX_inv @  X.T @ y), 2)}")

 The sum of the values from multiplication is 0.52